<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Games</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="g: ${games}" data-th-object="${g}">
                <td><span data-th-text="*{name}"></span></td>
                <td><span data-th-text="*{year}"></span></td>
                <td><span data-th-text="*{url}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>